.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin: 5rem;

}

input{
  width: 30em;
  padding: 6px;
}
button{
  padding: 4px;
  margin-left: 8px;
}

.todo-comp{
  margin: 30px;
  text-align: center;
}
